@font-face {
    font-family: 'Boing';
    font-weight: 300;
    src: url('../assets/fonts/Boing_Regular.woff');
    font-display: block;
}

@font-face {
    font-family: 'Boing';
    font-weight: 500;
    src: url('../assets/fonts/Boing_Medium.woff');
    font-display: block;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    src: url('../assets/fonts/Graphik-Regular.otf');
    font-display: block;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    font-style: italic;
    src: url('../assets/fonts/Graphik-RegularItalic.otf');
    font-display: block;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url('../assets/fonts/Graphik-Medium.otf');
    font-display: block;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url('../assets/fonts/Graphik-Semibold.otf');
    font-display: block;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    src: url('../assets/fonts/Graphik-Bold.otf');
    font-display: block;
}
